ProxyBiddingCumSnipingAgent/src/META-INF/wsdl/localhost_8080/BidWebservice/BidWebservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="GeneralException" type="tns:GeneralException"/>

<xs:element name="configureProxyBidding" type="tns:configureProxyBidding"/>

<xs:element name="configureProxyBiddingResponse" type="tns:configureProxyBiddingResponse"/>

<xs:element name="configureSniping" type="tns:configureSniping"/>

<xs:complexType name="configureSniping">
<xs:sequence>
<xs:element name="auctionId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="maxAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="date" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="configureProxyBidding">
<xs:sequence>
<xs:element name="auctionId" type="xs:long" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
<xs:element name="maxAmount" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="configureProxyBiddingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GeneralException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>