ProxyBiddingCumSnipingAgent/src/META-INF/wsdl/localhost_8080/CustomerWebservice/CustomerWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CustomerWebservice">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CustomerWebservice/CustomerWebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="setPremium">
<part name="parameters" element="tns:setPremium"/>
</message>
<message name="remoteLogin">
<part name="parameters" element="tns:remoteLogin"/>
</message>
<message name="remoteLoginResponse">
<part name="parameters" element="tns:remoteLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="updateCustomerInfo">
<part name="parameters" element="tns:updateCustomerInfo"/>
</message>
<message name="updateCustomerInfoResponse">
<part name="parameters" element="tns:updateCustomerInfoResponse"/>
</message>
<portType name="CustomerWebservice">
<operation name="setPremium">
<input wsam:Action="http://ws.session.ejb/CustomerWebservice/setPremium" message="tns:setPremium"/>
</operation>
<operation name="remoteLogin">
<input wsam:Action="http://ws.session.ejb/CustomerWebservice/remoteLoginRequest" message="tns:remoteLogin"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebservice/remoteLoginResponse" message="tns:remoteLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/CustomerWebservice/remoteLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="updateCustomerInfo">
<input wsam:Action="http://ws.session.ejb/CustomerWebservice/updateCustomerInfoRequest" message="tns:updateCustomerInfo"/>
<output wsam:Action="http://ws.session.ejb/CustomerWebservice/updateCustomerInfoResponse" message="tns:updateCustomerInfoResponse"/>
</operation>
</portType>
<binding name="CustomerWebservicePortBinding" type="tns:CustomerWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setPremium">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="remoteLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="updateCustomerInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebservice">
<port name="CustomerWebservicePort" binding="tns:CustomerWebservicePortBinding">
<soap:address location="http://localhost:8080/CustomerWebservice/CustomerWebservice"/>
</port>
</service>
</definitions>